diffusers==0.29.2
einops
gin-config
h5py
lxml<5.0.0,>=4.9.2
matplotlib
moviepy
msgpack
numpy
onnx
onnxruntime-gpu
packaging<24
pandas
psutil
pytorch-lightning
pyzmq
timm
torch
torcheval
transformers
wandb==0.23.1
wheel
zmq
